body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px; /* Ajoute un peu d'espacement autour du contenu */
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px; /* Largeur des cartes */
    margin: 10px; /* Marge autour des cartes */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    transition: box-shadow 0.3s ease; /* Animation de transition */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

.card img {
    width: 100%;
    height: 260px; /* Hauteur fixe pour les images */
    object-fit: cover; /* Ajuste l'image pour remplir complètement le conteneur sans déformation */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-content {
    padding: 16px; /* Espacement à l'intérieur de la carte */
}

.card-content h2 {
    margin-top: 0;
    font-size: 1.4em; /* Taille du titre */
}

.card-content .rank {
    font-weight: bold;
    color: #ff6347;
    margin-bottom: 8px;
}

.card-content p {
    margin-bottom: 4px;
    line-height: 1.4; /* Espacement des lignes */
}

.card-content a {
    color: #007bff;
    text-decoration: none;
}

.card-content a:hover {
    text-decoration: underline;
}
